@import "../app/bower_components/angular-xeditable/dist/css/xeditable.css";
@import "variables";
@import "../app/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);


body {
  font-family: 'Source Sans Pro', sans-serif;
}

label {
  display: block;
}

.navbar-brand {
  padding: $padding-base-vertical;
}