$brand-primary: #000;
$yellow: #FFDA00;
$golden: #857647;

$navbar-height: 70px;
//$navbar-padding-horizontal: 5px;
$navbar-default-bg: #000;
$navbar-default-link-color: #fff;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: $golden;

$icon-font-path: "/assets/fonts/bootstrap/";
