<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading"> <h3 class="panel-title">Återställ lösenord</h3> </div>
      <div class="panel-body">
        <form ng-submit="reset()">
          <div class="form-group">
            <input type="text" ng-model="pwdReminder.email" placeholder="E-post" />
          </div>
          <div class="form-group">
            <input type="password" ng-model="pwdReminder.password" placeholder="Nytt lösenord" />
          </div>
          <div class="form-group">
            <input type="password" ng-model="pwdReminder.password_again" placeholder="Nytt lösenord igen" />
          </div>
          <button type="submit" class="btn btn-default">Återställ</button>
        </form>
      </div>
    </div>
  </div>
</div>
