<h1>{{member.first_name}} {{member.last_name}}</h1>
<div class="row">
  <div class="col-md-6">
    <form editable-form name="personForm" onaftersave="savePerson()">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          Personuppgifter
          <button type="button" class="btn btn-default btn-xs pull-right" ng-click="personForm.$show()" ng-show="!personForm.$visible">Redigera</button>
          <span ng-show="personForm.$visible" class="pull-right">
            <button type="submit" class="btn btn-primary btn-xs" ng-disabled="personForm.$waiting">
              Spara
            </button>
            <button type="button" class="btn btn-default btn-xs" ng-disabled="personForm.$waiting" ng-click="personForm.$cancel()">
              Ångra
            </button>
          </span>
        </div>
        <div class="panel-body">
          <div>
            <span e-placeholder="Förnamn" editable-text="member.first_name" e-name="first_name">{{ member.first_name || 'empty' }}</span>
            <span e-placeholder="Efternamn" editable-text="member.last_name" e-name="last_name">{{ member.last_name || 'empty' }}</span>
          </div>
          <div>
            <span e-placeholder="Adress" editable-text="member.street_address" e-name="street_address">{{ member.street_address || 'empty' }}</span>
          </div>
          <div>
            <span e-placeholder="Postnummer" editable-text="member.postcode" e-name="postcode">{{ member.postcode || 'empty' }}</span>
            <span e-placeholder="Ort" editable-text="member.city" e-name="city">{{ member.city || 'empty' }}</span>
          </div>
          <div>
            <span editable-select="member.country_id" e-ng-options="c.id as c.name for c in countries">
              {{ (countries | filter:{id: member.country_id})[0].name || 'Not set' }}
            </span>
          </div>
          <p></p>
          <div>
            <span editable-select="member.gender_id" e-ng-options="g.id as g.name for g in genders">
              {{ (genders | filter:{id: member.gender_id})[0].name || 'Not set' }}
            </span>
          </div>
          <div>
            <span e-placeholder="Personnummer" editable-text="member.personal_number" e-name="personal_number">{{ member.personal_number || 'empty' }}</span>
          </div>
          <p></p>
          <p><strong>Kontaktuppgifter</strong>:
          <div>
            <span e-placeholder="E-post" editable-text="member.email" e-name="email">
              <a href="mailto:{{member.email}}">
                {{ member.email || 'empty' }}
              </a>
            </span>
          </div>
          <div>
            <span e-placeholder="Telefonnummer" editable-text="member.mobile" e-name="mobile">
              <a href="tel:{{member.mobile}}">
                {{ member.mobile || 'empty' }}
              </a>
            </span>
          </div>
          <div>
            <span e-placeholder="Facebook" editable-text="member.facebook_id" e-name="facebook_id">
              <a href="http://www.facebook.com/{{member.facebook_id}}" target="_blank" ng-show="member.facebook_id">
                Facebook
              </a>
            </span>
          </div>
          <div>
            <span e-placeholder="Twitter" editable-text="member.twitter_id" e-name="twitter_id">
              <a href="http://www.twitter.com/{{member.twitter_id}}" target="_blank" ng-show="member.twitter_id">
                Twitter
              </a>
            </span>
          </div>
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Medlemsuppgifter</div>
      <div class="panel-body">
        <p>
          Medlemsnummer: {{member.id}}<br />
          Medlem sedan: {{member.member_since}}<br />
          Medlem tom: {{member.member_until}}
        </p>
        <h5><a href="" ng-click="paymentsIsOpen = !paymentsIsOpen">Inbetalningar ({{member.payments.length}})</a></h5>
        <div uib-collapse="!paymentsIsOpen">
          <div ng-hide="member.payments.length">
            <p>Inga inbetalninar har gjorts</p>
          </div>
          <table ng-show="member.payments.length" class="table table-bordered table-hover table-condensed">
            <tr>
              <th>Id</th>
              <th>Datum</th>
              <th>Summa</th>
              <th>Metod</th>
              <th>Externt id</th>
              <th>Registrerad av</th>
              <th>Ändra</th>
            </tr>
            <tr ng-repeat="payment in member.payments">
              <td>{{payment.id}}</td>
              <td>
                <span editable-date="payment.payment_date" e-name="payment_date" e-form="rowform" e-required>
                  {{ payment.payment_date }}
                </span>
              </td>
              <td>
                <span editable-number="payment.amount" e-name="amount" e-form="rowform" e-required>
                  {{payment.amount}}
                </span>
              </td>
              <td>
                  <span editable-select="payment.payment_method_id" e-name="payment_method_id" onshow="loadPaymentMethods()" e-form="rowform" e-ng-options="p.id as p.name for p in paymentMethods">
                    {{payment.payment_method.name}}
                  </span>
              </td>
              <td>
                <span editable-text="payment.external_id" e-name="external_id" e-form="rowform" e-required>
                  {{payment.external_id}}
                </span>
              </td>
              <td>
                <a ui-sref="members.detail({id: payment.created_by.id})">{{payment.created_by.first_name}} {{payment.created_by.last_name}}</a>
              </td>
              <td>
                <form editable-form name="rowform" onbeforesave="savePayment($data, member.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="insertedPayment == payment">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn-sm btn-primary">
                    Spara
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn-sm btn-default">
                    Avbryt
                  </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                  <button class="btn-sm btn-primary" ng-click="rowform.$show()">Redigera</button>
                  <button class="btn-sm btn-danger" ng-click="removeMember($index)">Ta bort</button>
                </div> 
              </td>
            </tr>
          </table>
          <p>
            <a class="btn btn-success" ng-click="addPayment()">Lägg till betalning manuellt</a>
          </p>
        </div>
        <h5><a href="" ng-click="paymentRemindersIsOpen = !paymentRemindersIsOpen">Påminnelser om förnyat medlemskap ({{paymentReminders.length}})</a></h5>
        <div uib-collapse="!paymentRemindersIsOpen">
          <p ng-hide="paymentReminders.length">Inga påminnelser har skickats.</p>
          <table ng-show="paymentReminders.length" class="table table-bordered table-hover table-condensed">
            <tr>
              <th>Id</th>
              <th>Metod</th>
              <th>Skickad</th>
            </tr>
            <tr ng-repeat="reminder in paymentReminders" ng-class="{'text-danger': !reminder.sent, 'text-success': reminder.sent}">
              <td>{{reminder.id}}</td>
              <td>{{reminder.method}}</td>
              <td>
                <span ng-show="reminder.sent">
                  {{reminder.created_at}}
                </span>
                <span ng-hide="reminder.sent">
                  Meddelandet kunde inte skickas
                </span>
              </td>
            </tr>
          </table>
          <p>
            <a class="btn btn-success" ng-click="sendPaymentReminder()">Påminn medlem om betalning</a> 
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form editable-form name="userForm" onaftersave="saveUser()">
      <div class="panel panel-default">
        <div class="panel-heading">
          Användarkonto
          <button type="button" class="btn btn-default btn-xs pull-right" ng-click="userForm.$show()" ng-show="!userForm.$visible">Redigera</button>
          <span ng-show="userForm.$visible" class="pull-right">
            <button type="submit" class="btn btn-primary btn-xs" ng-disabled="userForm.$waiting">
              Spara
            </button>
            <button type="button" class="btn btn-default btn-xs" ng-disabled="userForm.$waiting" ng-click="userForm.$cancel()">
              Ångra
            </button>
          </span>
        </div>
        <div class="panel-body">
          <div ng-show="!member.user">
            <p>
              {{member.first_name}} {{member.last_name}} har inget användarkonto registrerat.
            </p>
            <p><a href="" class="btn btn-success" ng-click="createUserForMember()">Skapa ett konto för {{member.first_name}} {{member.last_name}}</a></p>
          </div>
          <div ng-hide="!member.user">
            <div>ID: {{member.user.id}}</div>
            <div>Konto skapat: {{member.user.created_at}}</div>
            <div>Roller: 
              <span editable-checklist="member.user.roles" e-ng-options="r as r.display_name for r in roles">
                <span ng-repeat="role in member.user.roles">{{role.display_name}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
