<h1>Lista medlemmar</h1>
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div class="col-md-12 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Sök</div>
        <div class="panel-body">
          <form ng-submit="search()" class="form-inline">
            <input type="text" class="form-control" placeholder="Sök" ng-model="filterQuery" />
            <select 
              ng-model="filterType" ng-options="option.name for option in filterOptions" class="form-control" ng-change="resetLocation('{{filterType.value}}')">
            </select>
            <input type="submit" class="form-control btn btn-default" value="Sök" />
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Filtrera</div>
        <div class="panel-body">
          <div class="form-group">
            <label>
              <input type="checkbox" ng-checked="isFilterEnabled('outgoing_membership')" ng-click="toggleFilter('outgoing_membership')" /> Har utgående medlemskap (inom en månad)
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" ng-checked="isFilterEnabled('no_payment_reminder')" ng-click="toggleFilter('no_payment_reminder')" /> Har inte fått påminnelse
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" ng-checked="isFilterEnabled('duplicates')" ng-click="toggleFilter('duplicates')" /> Dubletter (e-post/telefonnummer)
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Agera</div>
        <div class="panel-body">
          <div ui-view="paymentReminderButton"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>
            <input type="checkbox" ng-click="selectAll()" ng-model="allMembersSelected" />
          </td>
          <td><a ui-sref="members.list({sort: sortByMember_number})">Medlemsnummer</a></td>
          <td ng-show="1 == 0"><a ui-sref="members.list({sort: sortByPersonal_number})">Personnummer</a></td>
          <td>Namn</td>
          <td>E-post</td>
          <td><a ui-sref="members.list({sort: sortByMember_until})">Medlem t.om.</a></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="member in members.data">
          <td>
            <input type="checkbox" ng-model="member.selected" />
          </td>
          <td ng-bind="member.member_number" sortable="member_number" filter="{'member_number': 'text'}"></td>
          <td ng-show="1 == 0" ng-bind="member.personal_number" sortable="personal_number"></td>
          <td>{{member.first_name}} {{member.last_name}}</td>
          <td ng-bind="member.email"></td>
          <td ng-bind="member.member_until"></td>
          <td>
            <a ng-click="goToMember(member.id)" href="" class="btn btn-default">Visa</a>
          </td>
        </tr>
      </tbody>
    </table>
    <uib-pagination 
      total-items="pagination.totalItems" 
      ng-model="pagination.currentPage" 
      ng-change="pageChanged()" 
      max-size="pagination.maxSize" 
      items-per-page="pagination.itemsPerPage">
    </uib-pagination>
  </div>
</div>
